*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html{
    scroll-behavior:smooth;
}

#navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#0f172a;
    transition:0.4s;
    z-index:1000;
}

.logo{
    color:white;
    font-size:30px;
    font-weight:bold;
}

.nav-menu{
    list-style:none;
    display:flex;
}

.nav-menu li{
    margin-left:20px;
}

.nav-menu a{
    text-decoration:none;
    color:white;
    padding:10px 15px;
    border-radius:6px;
    transition:0.3s;
}

.nav-menu a:hover{
    background:#38bdf8;
    transform:scale(1.1);
}

#navbar.scrolled{
    background:white;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

#navbar.scrolled .logo{
    color:#0f172a;
}

#navbar.scrolled .nav-menu a{
    color:#0f172a;
}

.active{
    background:#2563eb;
    color:white !important;
}

.section{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

#home{
    background:linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("https://images.unsplash.com/photo-1498050108023-c5249f4df085")
    center/cover no-repeat;

    color:white;
}

.hero-content h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:22px;
    margin-bottom:20px;
}

.btn{
    text-decoration:none;
    color:white;
    background:#2563eb;
    padding:12px 25px;
    border-radius:8px;
}

.btn:hover{
    background:#1d4ed8;
}

#about{
    background:#f1f5f9;
}

#services{
    background:#dbeafe;
}

#projects{
    background:#e0f2fe;
}

#contact{
    background:#cbd5e1;
}

.card-container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
    margin-top:30px;
}

.card{
    background:white;
    width:250px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

    #navbar{
        flex-direction:column;
        padding:15px;
    }

    .nav-menu{
        margin-top:10px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero-content h1{
        font-size:40px;
    }
}